<%- include('../partials/_head.ejs') %> <%- include('../partials/header.ejs') %>

<body>
    <div>Hi <%= locals.user.username %></div>
    <div>
        <span><%= locals.currentDirectory.name %> directory.</span>
    </div>
    <% if (locals.currentDirectory.children.length > 0) { %>
    <div>Children directories</div>
    <% locals.currentDirectory.children.forEach((child) => { %>
    <div>
        <a href="/directory/<%= child.id %>"><%= child.name %></a>
    </div>
    <% }) %> <% } %> <% if (locals.currentDirectory.parentId) { %>
    <div>
        <a href="/directory/<%= locals.currentDirectory.parentId %>"
            >Go back to parent directory
        </a>
    </div>
    </div>
    <% } else { %>
    <div>You are in the top level directory.</div>
    <% } %>
    <% if (locals.currentDirectory.files.length > 0) { %>
    <div class="files-wrapper">
        Click to download a file:
        <% locals.currentDirectory.files.forEach((file) => { %>
        <div class="file">
        <div class="file-link-download">
            <a class="file-download-link" href="/file/download/<%= file.id %>"><%= file.name %></a>
        </div>
        <div class="number-downloads">
            Number of downloads: <span class="counter-downloads"><%= file.downloads %></span>
        </div>
        </div>
        <% }) %> <% } %>
    <div class="upload-file">
        <form action="/home" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required />
            <button type="submit">Submit the file</button>
            <input
                type="hidden"
                name="directoryId"
                value="<%= locals.currentDirectory.id %>"
            />
            <input
                type="hidden"
                name="directoryName"
                value="<%= locals.currentDirectory.name %>"
            />
        </form>
    </div>
    <div class="create-folder">
        Create a new folder under this /<%= locals.currentDirectory.name%>/
        directory.

        <div class="directory">
            <form action="/directory/newDir" method="POST">
                <div>
                    <label for="directory">New directory name: </label>
                    <input
                        type="text"
                        name="directory"
                        id="directory"
                        placeholder="dir name"
                        required
                        minlength="<%= locals.env.userForm.directoryMinLength %>"
                        minlength="<%= locals.env.userForm.directoryMaxLength %>"
                    />
                </div>
                <div>
                    <input
                        type="hidden"
                        name="parentId"
                        value="<%= locals.currentDirectory.id %>"
                    />
                </div>
                <button id="button-submit-new-user" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>
    <script>
        const downloadButtons = document.querySelectorAll(".file-download-link");
        const downloadHitsArr = document.querySelectorAll(".counter-downloads");
        downloadButtons.forEach((button, index)  => {
            button.addEventListener("click", () => {
                downloadHitsArr[index].innerText = +downloadHitsArr[index].innerText + 1;
            })
        })
    </script>
</body>
<%- include('../partials/_footer.ejs') %>
