<%- include('../partials/_head.ejs') %> <%- include('../partials/header.ejs') %>

<body>
    <div>Hi <%= locals.user.username %></div>
    <%- include('../partials/directory.ejs') %> <%-
    include('../partials/file.ejs') %>
    <script src="/script.js" defer></script>
</body>

<%- include('../partials/_footer.ejs') %>
